.logincontainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: blue;
}
.signupimg img{
    margin-top: -52px;
    width: 100px;
    height: 100px;
}
.loginwrapper{
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 50px;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    height: 68vh;
    margin-top: 60px;
    align-items: center;
}
.emailopt{
    display: flex;
    flex-direction: column;
}
.emailpass{
    display: flex;
    flex-direction: column;
}
.labellogin{
    font-size: 15px;
    color: purple;
    margin-bottom: 0px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}
.linp{
    height: 25px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    padding: 7px 10px;
    background-color: rgb(204, 189, 204);
    border: 5px solid white;
}
.loginbtn{
    padding: 10px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    font-weight: 800;
}
.labellogin{
    margin-top: 15px;
}